.project-card {
  width: 100%;
  border: 1px solid black;
  box-shadow: 0px 0px 5px #9546bd;
  padding: 30px;
}

.project-card img {
  width: 50%;
  /* height: 300px; */
  object-fit: cover;
}

.project-card h1 {
  font-size: 30px;
  padding: 10px;
  color: white;
}

.project-card h2 {
  font-size: 25px;
  padding: 10px;
  color: white;
}

.project-card h3 {
  font-size: 20px;
  padding: 10px;
  color: white;
}

.project-card h4 {
  font-size: 15px;
  padding: 10px;
  color: white;
}
