body {
  background: black;
  color: white;
  /* padding: 50px; */
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#project-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 30px;
  row-gap: 30px;
  background-color: black;
}

/* #form {
  margin: 50px;
  padding: 50px;
} */

form {
  margin: 30px auto;
  width: 90%;
}

.form-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.form-item label {
  flex-basis: 150px;
  font-size: 22px;
}

.form-item input,
.form-item textarea {
  flex-basis: 50%;
  border: 2.5px solid #9546bd;
}

/* .form-item input:hover,
.form-item textarea:hover {
  border: 2.5px solid #40d2f7;
} */

.form-item input,
.form-item textarea,
.form-item button {
  border: 2.5px solid #9546bd;
  background-color: lightgray;
  padding: 5px;
  font-size: 18px;
}

/* .form-item button:hover {
  border: 2.5px solid #40d2f7;
  background-color: #f7ec72;
  color: #f75990;
} */

.form-item button {
  width: 100px;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h6 {
  margin: 0 auto;
  width: 100%;
  background: #eea63f;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  min-height: 100%;
  /* position: bottom; */
}

footer {
  flex: 0;
  margin: 0 auto;
  width: 100%;
  background: #9546bd;
  padding: 10px;
  font-size: 15px;
  /* color: black; */
  text-align: center;
  min-height: 100%;
  position: bottom;
}

.pageContent {
  padding: 15px;
  flex-grow: 1;
}
